*
!autostart
!autostart/*
!gtk-3.0
!gtk-3.0/*
!kitty
!kitty/*
!mako
!mako/*
!nwg-panel
!nwg-panel/*
!nwg-panel/**/*
!nwg-wrapper
!nwg-wrapper/*
!nwg-wrapper/**/*
!sway
!sway/*
!sway/**/*
!systemd
!systemd/*
!systemd/**/*
!ulauncher
!ulauncher/*
!ulauncher/**/*
!wallpaper.png
!example.png
!.gitignore
!Code - OSS/User/settings.json
ulauncher/ext_preferences
ulauncher/user-themes/solarized-dark/generated.css